python-dotenv
streamlit
unstructured
tiktoken
langchain-chroma
langchain-groq
langchain-community
protobuf
langchain-huggingface
langchain
langchain-core
sentence-transformers
chromadb>=0.4.24

bs4
requests

